/* *** PRIMARIS CSS *** */
body{
	font-family: Helvetica, sans-serif;
	font-size: 11pt;
	color:#969696;
	padding-left: 0px;
    padding-right: 0px;
}
li {
    list-style_type: none;
	font-size: 11pt;
	font-weight:normal;
}
h1 {
	font-size: 28pt;
	color:#ffffff;
	padding-top:32px;
	padding-bottom:32px;
	margin:0px;
}
h2 {
	color:#FFFFFF;
	font-size: 18pt;
	font-weight:bold;
	margin:0px;
	padding: 0px;
	padding-bottom: 15px;
	line-height:25px;
}
h3 {
	color:#79151C;
	font-size: 12pt;
	font-weight:bold;
	margin:0px;
	padding: 0px;
	line-height:22px;
}

h4 {
	font-weight:normal;
	margin:0px;
	padding: 0px;
	color:#8C352D;
	font-size: 12pt;
	line-height:22px;
}

h5 {
	color:#FFFFFF;
	font-size: 14pt;
	font-weight:bold;
	margin:0px;
	padding: 0px;
	line-height:25px;
}

h6 {
	color:#969696;
	font-size: 13pt;
	font-weight:bold;
	margin:0px;
	padding: 0px;
	line-height:25px;
}

h7 {
	color:#969696;
	font-size: 11pt;
	font-weight:bold;
}

h8 {
	color:#404141;
	font-size: 10pt;
	font-weight:normal;
	margin:0px;
}


p{
	font-size: 11pt;
}

legend{
	color:#000000;
	border-color:#000000;
}

label{
	margin-top:15px;
}

.social-links{
	display:inline;
}

.image-browser{
	display:none;
}

.image-upload{
	display:none;
}

.old-image-upload{
	display:inline;
}


a:link {color:inherit;text-decoration: none }      /* unvisited link */
a:visited {color:inherit;text-decoration: none }  /* visited link */
a:hover {color:inherit;text-decoration: none }  /* mouse over link */
a:active {color:inherit;text-decoration: none }

a.btn:link{color:#FFFFFF} 
a.btn:visited{color:#FFFFFF}
a.btn:hover{color:#FFFFFF}
a.btn:active{color:#FFFFFF}


.line_break{
	margin-bottom:10px;
}

.trim_screen {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px; /* or 950px */
}

.full_screen{
  margin-right: auto;
  margin-left: auto;
  width: 100%;

}

.nav-tabs {
  border-bottom:none;
  margin:0px;
}

.nav-tabs > li{
  width:140px;
  text-align:center;
  margin-left:0px;
  margin-right:10px;
}

.nav-tabs > li > a{
	padding-top:16px;
	border-radius:6px;
	color:#FFFFFF;
	font-size:14pt;
	background-color:#282828;
	border-style: none;
	border:0px;
	margin:0px;
	border:none;
	background-image:url('top_nav_background.png');
	background-size:100% 55px;
    background-repeat:repeat-x;
	font-weight: bold;
	height:30px;
}

.config-tabs > li{
	width:100px;
}

.btn-nav a span{
    display: table-cell;
    height: 48px;
    width: 150px;
    text-align:center;
    vertical-align:middle;

}


.row-fluid{
	background-color: transparent;
}

.banner img{
	background-color: transparent;
	border-radius:4px;
	border-style: none;
	border:0px;
	margin:0px;
	-moz-box-shadow: -1px 1px 2px 0px #B8B8B8;
	-webkit-box-shadow: -1px 1px 2px 0px #B8B8B8;
	box-shadow: -1px 1px 2px 0px #B8B8B8;
}

.nav-tabs > li > a:hover{
	
	padding-top:16px;
	border-radius:4px;
	color:#FFFFFF;
	font-size:14pt;
	border-style: none;
	border:0px;
	margin:0px;
	border:none;
	background-color:#282828;
	background-image:url('top_nav_background_selected.png');
	background-size:100% 100%;
    background-repeat:repeat-x;
	font-weight: bold;
	height:30px;
}



.nav{
	margin-bottom:0px;
}

.pane1{
	margin:0px;
	padding-top:8px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	margin-top:1px;
	border-top-right-radius:4px;
	background-color:#000000;
}

.pane1 .btn-secondary{
	margin-bottom:8px;
}



.pane2{
	margin:0px;
	padding-top:8px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	margin-top:1px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	background-color:#000000;
}

.pane2 .btn-secondary{
	margin-bottom:8px;
}

.nav-tabs > .active > a{
	height:41px;
	background-image:none;
    background-color: #000000;
    border-style: none;
    color: #FFFFFF;
    cursor: default;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}

.nav-tabs > .active > a:hover {
	height:41px;
	background-image:none;
    background-color: #000000;
    border-style: none;
    color: #FFFFFF;
    cursor: default;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}


.button_to{
	margin:0px;
	padding:0px;
}

img {
     max-height: 100%;
 	 margin-top:0px;
	 margin-bottom:0px;
}

button{
	font-family: inherit;
}


.admin_nav{
	padding-top:10px;
	padding-bottom:10px;
	margin: 0;
}

.admin_sub_nav{
	padding-top:32px;
	padding-bottom:32px;
	margin: 0;
}

.navbar{
	margin:5px;
	padding:0px;
}

.header {
	min-height:50px;
	max-height:100px;
	padding-top:16px;
	padding-bottom:16px;
    margin: 0;
	vertical-align: middle;
	background-color: #000000;
}

.header_logo{
	float: left;
	height:72px;
}

.header_search_bar{
	padding-top:16px;
	float: right;
	vertical-align:middle;
}

.top_nav{
	border-top: solid;
	border-top-color: #808080; 
	border-top-width: 1px;
	height: 48px;
	background-repeat: repeat-x;
	background-color: transparent;
}

.nav-bar{
	margin:0px;
  	padding-left:10px;
 	padding-right:10px;
  	background-color: #262626;
  	width:100%;
  	height:48px;
  	border:none;
  	background-image:url('top_nav_background.png');
  	background-repeat:repeat-x;
  	background-size:100% 100%;
  	color:#FFFFFF;
  	font-size: 14pt;
  	font-weight: bold;
}

.content_area{
	-webkit-box-shadow: inset 0px 7px 7px -7px #000;
  	-moz-box-shadow: inset 0px 7px 7px -7px #000;
  	box-shadow: inset 0px 7px 7px -7px #000;
    
    
	min-height:480px;
	background-color: #282828;
	padding-bottom:22px;
	background-repeat:no-repeat;
	
	background-position:center top;
}

.content_space{

	margin-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
	padding-bottom:32px;
}


.hours_bottom_nav{
	border-top:solid;
	border-top-color: #333333; 
	border-top-width: 1px;
	padding-top:24px;
	padding-bottom:24px;
	color:#ffffff ;
	background-color: #1F1F1F;
	font-size: 12pt;
}

.hours_day{
	font-size: 13px;
    font-weight: bold;
}

.hours_hour{
	font-size: 12px;
    font-weight: normal;
}


.bottom_nav{
	border-top:solid;
	border-top-color: #333333; 
	border-top-width: 1px;
	min-height:154px;
	padding-top:42px;
	padding-bottom:48px;
	color:#ffffff ;
	background-color: #151515;
	font-size: 12pt;
}

.bottom_nav_header{

	padding-bottom:5px;
	color:#ffffff ;
	font-size: 10pt;
	font-weight:bold;
}

.bottom_nav_list{
	padding-bottom:4px;
	font-size: 9pt;
	font-weight:normal;
}

.rounded-corners{
	background-color:#E0E0E0;
	padding:10px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.footer{
	border-top:solid;
	border-top-color: #333333; 
	border-top-width: 1px;
	padding-top:40px;
	padding-bottom:40px;
	color:#ffffff ;
	background-color: #050505;
	font-size: 8pt;
}


.banner{
	width:100%;
	background-color:transparent;
}

.stores_table {
  width: 100%;
}

.stores_map_table {
  width: 100%;
}

.stores_map_table tr:hover {
    cursor: pointer;
}

.welcome_message{
	padding-top:15px;
	padding-bottom:15px;
	font-size: 18pt;
	font-weight: bold;
}

.stores_table_headers{
	height:27px;
	text-align:left;
	padding-top:8px;
	padding-left:12px;
	background-color: #1F1F1F;
	color:#969696;
	font-size: 14pt;
}

.stores_row{
	height:43px;
	border-bottom:solid;
	border-bottom-color: #333333; 
	border-bottom-width: 1px;
	border-top:solid;
	border-top-color: #333333; 
	border-top-width: 1px;
	padding-left:12px;
	background-color: #282828;
}

.store_row_name{
	font-size: 12pt;
	font-weight: bold;
	padding-top:5px;

}

.map{
	position: relative; 
	top: 0; 
	left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.map2 {
    background-color: #FFFFFF;
    float: left;
    width: 100%;
}

.zoom_container .landmarks{
	position:absolute;
	z-index:10;	
	top:0px;
	left:0px;
	font-family: Helvetica, Arial, Verdana;
	font-size:12px;
	color: #ffffff;
}	
.zoom_container .landmarks .item {
	position:absolute;		
	text-align:center;		
	display: none;
}	
.zoom_container .landmarks .lable div {
	width: 100px;
	padding: 4px;	
}	
.zoom_container .landmarks .mark .text{
	background-color:#000000;
	padding:2px 6px;
	min-width: 75px;	
}

#zoom_container_directory{
	height: 700px;
}

#zoom_container_store{
	height: 468px;
}

.coordinates{
	color:#4E4E4E;
	font-size: 12px;
}

.light_border{
	border: 1px;
	border-style: solid;
	border-color: #CDCDCD;
}


.pin{
	display: none;
	position:absolute;
	background-color:#00000;
	width:60px;
	height:60px;
	left:100px;
	top:40px;
}




.dropdown {
    position: relative;
    display: block;
}
.btn-nav {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 48px;
    background-image: url('top_nav_background.png');
    background-repeat: repeat-x;
    background-size: 100% 100%;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
}



.btn-nav:hover,.btn-nav:focus,.btn-nav:active  {
    border:none;
    border-width:3px;
    background-image:url('top_nav_background_selected.png');
    background-size:100% 100%;
	background-repeat:repeat-x;
	outline-style:none;
}

.custom_dropdown .dropdown-menu{
	margin-top:11px;
	background-color:#79151C;
	color:#FFFFFF;
	position:absolute;
	min-width:200px;
}




.custom_dropdown .dropdown-menu li > a, .dropdown-menu li > a, .dropdown-submenu > a {
	margin:3px;
}


.custom_dropdown .dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
	margin:3px;
	background:rgba(0,0,0,0.5);
	background-repeat:repeat-x;
    color: #FFFFFF;
    text-decoration: none;
}

.custom_dropdown .dropdown-menu li > p {
	padding:10px;
	color:#000000;
}

.custom_dropdown .dropdown-menu .arrow,
.custom_dropdown .dropdown-menu .arrow:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.custom_dropdown .dropdown-menu .arrow:after {
  z-index: -1;
  content: "";
}

.custom_dropdown .dropdown-menu.bottom .arrow {
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-bottom-color: #79151C;
  border-width: 0 10px 10px;
}

.custom_dropdown .dropdown-menu.bottom .arrow:after {
  top: -1px;
  left: -11px;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-width: 0 11px 11px;
}

.drop-down-row{
	font-size:13pt;
	color:#000000;
	margin:0px;
	padding: 7px;
	background-color:#E0E0E0;
	border-top:solid;
	border-top-color: #D4D4D4; 
	border-top-width: 1px;
	border-bottom:solid;
	border-bottom-color: #D4D4D4; 
	border-bottom-width: 1px;
}

.drop-down-row-today{
	font-size:13pt;
	color:#000000;
	margin:0px;
	padding: 7px;
	background-color:#FFFFFF;
	border-top:solid;
	border-top-color: #D4D4D4; 
	border-top-width: 1px;
	border-bottom:solid;
	border-bottom-color: #D4D4D4; 
	border-bottom-width: 1px;
}

.mobile_menu_header{
	font-size:13pt;
	font-weight:bold;
	color:#000000;
	margin:0px;
	padding: 7px;
	background-color:#E0E0E0;
	border-top:solid;
	border-top-color: #D4D4D4; 
	border-top-width: 1px;
	border-bottom:solid;
	border-bottom-color: #D4D4D4; 
	border-bottom-width: 1px;
}

.mobile_menu_item{
	font-size:13pt;
	color:#000000;
	font-weight:bold;
	margin:0px;
	padding:7px;
	padding-left:20px;
	background-color:#FFFFFF;
	border-top:solid;
	border-top-color: #D4D4D4; 
	border-top-width: 1px;
	border-bottom:solid;
	border-bottom-color: #D4D4D4; 
	border-bottom-width: 1px;
}




/*
  Button Prime
*/
.btn-prime {
  margin:0px;
  padding-left:10px;
  padding-right:10px;
  background-color: #262626;
  border-radius:4px;
  width:100%;
  height:48px;
  border:none;
  background-image:url('top_nav_background.png');
  background-repeat:repeat-x;
  background-size:100% 100%;
  color:#FFFFFF;
  font-size: 14pt;
  font-weight: bold;
  -moz-box-shadow: -1px 1px 2px 0px #B8B8B8;
  -webkit-box-shadow: -1px 1px 2px 0px #B8B8B8;
   box-shadow: -1px 1px 2px 0px #B8B8B8;
}


.btn-secondary {
  margin:2px;
  min-width:22px;
  padding-top:1px;
  padding-left:2px;
  padding-right:2px;
  background-color: #262626;
  border-radius:4px;
  height:36px;
  border:none;
  background-image:url('top_nav_background.png');
  background-repeat:repeat-x;
  background-size:100% 100%;
  color:#FFFFFF;
  font-size: 14pt;
  font-weight: bold;
}

.btn-prime:hover,.btn-prime:focus,.btn-prime:active,.btn-secondary:hover,.btn-secondary:focus,.btn-secondary:active  {
    border:none;
	background-color:#282828;
    background-image:url('top_nav_background_selected.png');
	background-repeat:repeat-x;
	background-size:100% 100%;
	outline-style:none;
}


.connect_with_us{
  color:#000000;
  padding-top:8px;
  padding-bottom:9px;
  font-size: 11pt;
  font-weight: bold;
}

.btn-social {
  margin:0px;
  padding:0px;
  background-color: transparent;
  border-radius:4px;
  width:100%;
  height:36px;
  border:none;
  background-image:url('secondary_button.png');
  background-repeat:repeat-x;
  font-size: 11pt;
  font-weight: bold;
	-moz-box-shadow: -1px 1px 2px 0px #B8B8B8;
	-webkit-box-shadow: -1px 1px 2px 0px #B8B8B8;
	box-shadow: -1px 1px 2px 0px #B8B8B8;
}

.btn-3 {
  margin:0px;
  padding:0px;
  background-color: transparent;
  border-radius:4px;
  width:100%;
  height:36px;
  border:none;
  background-image:url('secondary_button.png');
  background-repeat:repeat-x;
  font-size: 11pt;
  font-weight: bold;
  background-size:100% 100%;
	-moz-box-shadow: -1px 1px 2px 0px #B8B8B8;
	-webkit-box-shadow: -1px 1px 2px 0px #B8B8B8;
	box-shadow: -1px 1px 2px 0px #B8B8B8;
}


.btn-social img{
	height:20px;
}

.btn-3 img{
	height:20px;
}

.content_title{
	padding-bottom:5px;
	color:#79151C;
	font-size: 16pt;
}



.accordion-group{
	border-radius:4px;
	
	padding-top:2px;
	margin-bottom:20px;
	background-color:#FFFFFF;
	border:none;
	-moz-box-shadow: -1px 1px 2px 0px #B8B8B8;
	-webkit-box-shadow: -1px 1px 2px 0px #B8B8B8;
	box-shadow: -1px 1px 2px 0px #B8B8B8;
}

.accordion-inner{
	border:0px;
}


.thumbnails{
	margin-bottom: 0px;
}

.span3 .thumbnails{
	margin-top: 104px;
}

.thumbnails .span3{
	margin-bottom: 0px;
}

.thumbnail{
	padding:0px;
	margin:0px;
	border:0px;
	background-color: transparent;
}

.thumbnail img{
	width:100%;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-box-shadow: -1px -1px 2px 0px #B8B8B8;
	-webkit-box-shadow: -1px -1px 2px 0px #B8B8B8;
	box-shadow: -1px -1px 2px 0px #B8B8B8;
}

.thumbnail .line_break{
	padding-top: 5px;


}

.feature_item_name{
	padding-left: 5px;
	padding-top: 7px;
	padding-bottom: 0px;
	color:#000000;
	font-size: 15px;
	font-weight: bold;
}

.feature_item_description{
	padding-top: 2px;
	padding-left: 5px;
	font-size: 13px;
	font-weight: normal;
	height: 60px;
	overflow: hidden
}

.caption{
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding:0px;
	margin:0px;
	background-color: #050505;
	-moz-box-shadow: -1px 1px 2px 0px #B8B8B8;
	-webkit-box-shadow: -1px 1px 2px 0px #B8B8B8;
	box-shadow: -1px 1px 2px 0px #B8B8B8;
}

.feature_item_right{
	margin-bottom:24px;
}

.visible-phone .caption{
	margin-bottom:24px;
}


.read_more{
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 5px;
	color:#FFFFFF;
	font-size: 13px;
	font-style: italic;
	font-weight:normal;
}

.caret{
		color: #FFFFFF;
		border-top: 5px solid #FFFFFF;
}

.popup {
	text-align: center;
	border-radius:6px;
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 200px;
    border:solid;
	border-color: #808080; 
	border-width: 1px;
	-moz-box-shadow: -1px 1px 4px 1px #000;
	-webkit-box-shadow: -1px 1px 4px 1px #000;
	box-shadow: -1px 1px 4px 1px #000;
}

.controls .active {
    background: none repeat scroll 0 0 #000;
    color: #FFFFFF;
}

.no_pin{
	padding-right: 20px;
	height:30px;
	width:19px;
}

.show_pin{
	padding-right: 20px;
	height:30px;
	width:19px;
}



.login_label {
	line-height: 20px;
	display: table-cell;
	padding-top: 5px;
	margin: 0px;
	vertical-align: baseline;
}

.login{
	margin-top: 30px;
}

.media-heading{
	font-weight: bold;
}



.media-body {
  
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

.media{
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
  padding-bottom:10px;
}


.rounded_shadow{
	border-radius:4px;
	-moz-box-shadow: -1px 1px 2px 0px #B8B8B8;
	-webkit-box-shadow: -1px 1px 2px 0px #B8B8B8;
	box-shadow: -1px 1px 2px 0px #B8B8B8;
}


.media-image{
	width:222px;
	border-radius:4px;
	-moz-box-shadow: -1px 1px 2px 0px #B8B8B8;
	-webkit-box-shadow: -1px 1px 2px 0px #B8B8B8;
	box-shadow: -1px 1px 2px 0px #B8B8B8;
}

.media,
.media .media {
  margin-top: 15px;
}

.media:first-child {
  margin-top: 0;
}

.media-object {
  display: block;
}

.media-heading {
  margin: 0 0 5px;
}

.media .pull-left {
  margin-right: 23px;
}

.media .pull-right {
  margin-left: 10px;
}

.media-list {
  margin-left: 0;
  list-style: none;
}

.map_logo {
  display: none;
  position: absolute;
  margin-left: 50px;
  margin-top: 35px;
}

.expand_collapse{
	font-size: 20pt;
	padding-right: 10px;
	text-align: right;
}

#subscribe_email{
	height:22px;
	margin-top: 10px;
}

.contest_info{
	width: 315px;
	height: 40px;
}

@media (max-width: 979px){
   	.feature_items {
	    display: none;
	}

	#special .span3 {
        display: none;
    }

    #special .span9 {
        float: none;
        width: auto;
    }

	 .map_area .span9{
		width:100%;

	}
}

@media (max-width: 480px) {
	.contest_info{
		width: 95%;
		height: 40px;
	}

	.media-image{
		display: none;
	}

	.store_row_name{
		max-width: 120px;
	}

	.header_logo{
		float: left;
		height:36px;
	}

	.container-fluid {
    	padding-left: 10px;
    	padding-right: 10px;
	}

	.header {
		min-height:40px;
		max-height:100px;
		padding-top:8px;
		padding-bottom:8px;
	}

	.accordion-group{

		margin-bottom:10px;
	}

	#zoom_container_directory{
		height: 300px;
	}

	#zoom_container_store{
		height: 300px;
	}
}






 





/* *** PROPERTY CSS */

body{ font-family: Helvetica, sans-serif; font-size: 12pt; color:#000000; } .store_website{ display:none; } .header { background-color: #3F8782; } .top_nav{ background-image:url(PRIMARY_NAV_IMAGE); } .content_area{ background-image:url(BACKGROUND_IMAGE); background-color: #ebebeb; } h1 { color:#000000; } h2 { color:#000000; } h3 { color:#000000; } h4 { color:#000000; } h5 { color:#000000; } h6 { color:#000000; } h7 { color:#FFFFFF; } h8 { color:#FFFFFF; } legend{ color:#000000; } .pane1{ background-color:#000000; } .pane2{ background-color:#000000; } .nav-tabs > .active > a{ height:41px; background-image:none; background-color: #DCDCDC; border-style: none; color: #FFFFFF; cursor: default; border-bottom-left-radius:0px; border-bottom-right-radius:0px; } .nav-tabs > .active > a:hover { height:41px; background-image:none; background-color: #616161; border-style: none; color: #FFFFFF; cursor: default; border-bottom-left-radius:0px; border-bottom-right-radius:0px; } .hours_bottom_nav{ border-top-color: #1d1d1d; background-color: #aca7a7; } .bottom_nav{ border-top-color: #1d1d1d; color:#000000; background-color: #aca7a7; } .bottom_nav_header{ color:#000000 ; } .bottom_nav_list{ color:#000000; } .rounded-corners{ background-color:#E0E0E0; } .footer{ background-color:#aca7a7; border-top-color: #000000; color:#000000; } .banner{ background-color:transparent; } .welcome_message{ color:#000000; } .stores_table_headers{ background-color: #F0F0F0; color:#000000; } .stores_row{ border-bottom-color: #B0B0B0; border-top-color: #B0B0B0; background-color: #FFFFFF; } .store_row_name{ color:#000000; } .pin{ background-color:#00000; } .btn-nav { background-image:url(PRIMARY_NAV_IMAGE); color:#FFFFFF; } .btn-nav:hover,.btn-nav:focus,.btn-nav:active { background-image:url(PRIMARY_NAV_SELECTED_IMAGE); } .custom_dropdown .dropdown-menu{ background-color:#8fd9d7; color:#FFFFFF; } .custom_dropdown .dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-submenu:hover a { background:#2eb4b2; } .custom_dropdown .dropdown-menu li > p { color:#000000; } .custom_dropdown .dropdown-menu .arrow, .custom_dropdown .dropdown-menu .arrow:after { border-color: transparent; } .custom_dropdown .dropdown-menu.bottom .arrow { border-bottom-color: #8fd9d7; } .custom_dropdown .dropdown-menu.bottom .arrow:after { border-bottom-color: #2eb4b2; } .drop-down-row{ color:#000000; background-color:#FFFFFF; border-top-color: #D4D4D4; border-bottom-color: #D4D4D4; } .drop-down-row-today{ color:#000000; background-color:#E0E0E0; border-top-color: #D4D4D4; border-bottom-color: #D4D4D4; } /* Button Prime */ .btn-prime { background-color: #262626; background-image:url(PRIMARY_NAV_IMAGE); color:#FFFFFF; -moz-box-shadow: -1px 1px 2px 0px #1D1D1D; -webkit-box-shadow: -1px 1px 2px 0px #1D1D1D; box-shadow: -1px 1px 2px 0px #1D1D1D; } .nav-bar{ background-image:url(PRIMARY_NAV_IMAGE); } .btn-prime:hover,.btn-prime:focus,.btn-prime:active,.btn-secondary:hover,.btn-secondary:focus,.btn-secondary:active { background-color:#282828; background-image:url(PRIMARY_NAV_SELECTED_IMAGE); } .btn-secondary { background-color: #262626; background-image:url(PRIMARY_NAV_IMAGE); color:#FFFFFF; } .btn-social { color:#000000; background-image:url(SECONDARY_BUTTON_IMAGE); -moz-box-shadow: -1px 1px 2px 0px #1D1D1D; -webkit-box-shadow: -1px 1px 2px 0px #1D1D1D; box-shadow: -1px 1px 2px 0px #1D1D1D; } .btn-social:hover { color:#ffffff; background-image:url(SECONDARY_BUTTON_SELECTED_IMAGE); } .btn-3{ color:#FFFFFF; background-image:url(PRIMARY_NAV_IMAGE); -moz-box-shadow: -1px 1px 2px 0px #1D1D1D; -webkit-box-shadow: -1px 1px 2px 0px #1D1D1D; box-shadow: -1px 1px 2px 0px #1D1D1D; } .btn-3:hover{ color:#616161; background-image:url(SECONDARY_BUTTON_SELECTED_IMAGE); } .caret{ border-top: 5px solid #616161; color:#616161; } .connect_with_us{ color:#000000; } .btn-social:hover { border-color:#1F090B; } .content_title{ color:#79151C; } .accordion-group{ background-color:#FFFFFF; border-color:#FFFFFF; -moz-box-shadow: -1px 1px 2px 0px #1D1D1D; -webkit-box-shadow: -1px 1px 2px 0px #1D1D1D; box-shadow: -1px 1px 2px 0px #1D1D1D; } .thumbnail img{ -moz-box-shadow: -1px -1px 2px 0px #1D1D1D; -webkit-box-shadow: -1px -1px 2px 0px #1D1D1D; box-shadow: -1px -1px 2px 0px #1D1D1D; } .thumbnail{ background-color: transparent; } .feature_item_name{ color:#2B3B2B; } .feature_item_description{ color:#2B3B2B; } .caption{ font-weight:normal; background-color: #F0F0F0; -moz-box-shadow: -1px 1px 2px 0px #1D1D1D; -webkit-box-shadow: -1px 1px 2px 0px #1D1D1D; box-shadow: -1px 1px 2px 0px #1D1D1D; } .read_more{ color:Black; } .media-image{ -moz-box-shadow: -1px 1px 2px 0px #1D1D1D; -webkit-box-shadow: -1px 1px 2px 0px #1D1D1D; box-shadow: -1px 1px 2px 0px #1D1D1D; } .hours_day{ color:#000000; } .hours_hour{ color:#000000; } .rounded_shadow{ -moz-box-shadow: -1px 1px 2px 0px #1D1D1D; -webkit-box-shadow: -1px 1px 2px 0px #1D1D1D; box-shadow: -1px 1px 2px 0px #1D1D1D; }



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}